<div class="container mx-auto bg-white">
    <hr />
    <section class="py-12 px-4 text-center">
        <div class="w-full max-w-2xl mx-auto">
            <h2 class="text-4xl mt-2 mb-6 leading-tight font-heading">
                Fes la teva comanda a continuació
            </h2>
        </div>
    </section>
    <center>
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSeynfWiRFJaoIIq3j-j0J3nWiK7jedLSc3qZnvuXddOT0Poug/viewform?embedded=true"
        width="640" height="629" frameborder="0" marginheight="0" marginwidth="0">Carregant...</iframe>
    </center>

</div>