.box {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 150px;

    p {
        width: 80%;
    }

    &-pink {
        .box-square {
            background-color: #f7ebeb;
            z-index: -1;
        }
    }

    &-blue {
        .box-square {
            background-color: #c0e7ed;
            z-index: -1;
        }

        h6 {
            color: #67758c;
        }
    }

    &-square {
        position: absolute;
        top: -50px;
        width: 45%;
        height: 260px;
        border: 2px solid #fff;
    }

    &-square-left-random {
        left: random(100) + px;
    }

    &-square-left {
        left: -60px;
    }
    &-square-right {
        right: 60px;
    }
}