.box {
    position: relative;
    display: block;
    width: 100%;

    p {
        width: 80%;
    }

    &-pink {
        .box-square {
            background-color: #f7ebeb;
            z-index: -1;
        }
    }

    &-square {
        position: absolute;
        top: -50%;
        width: 45%;
        height: 200px;
        border: 2px solid #fff;
    }

    &-square-left {
        left: 20px;
    }
    &-square-right {
        right: 20px;
    }
}