<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>miriamdolcets</title>
    <link rel="icon" href="https://miriam.cat/favicon.ico?v=2" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.4/tailwind.min.css">
    
    <script src="/assets/js/main.js"></script>
</head>
<body class="bg-body text-body font-body">
    <div class="container mx-auto px-4">
    {%- include topbar.html -%}

    <main id="content">
        <!-- Hero -->
        <div class="container">
            {{ content }}
        </div>
    </main>

    <div>
        <hr />
    </div>

    <section class="py-8">
        <div class="max-w-sm mx-auto text-center">
            <h2 class="text-5xl font-heading">Dissabtes dolços</h2>
            <h3 class="text-4xl">19 € / mes</h3>
            <p class="mt-4 mb-6 text-gray-500 leading-relaxed">
                Et presentem el nou servei de caps de setmana.
                Amb una subscripció de 19 € al mes, cada dissabte obtindràs una caixeta de 4 galetes.
            </p>
            <a class="inline-block py-4 px-8 leading-none text-white bg-pink-500 hover:bg-pink-600 rounded shadow"
                href="#">
                Pròximament
            </a>
        </div>
    </section>

    <div>
        <hr />
    </div>

    <footer class="flex flex-wrap items-center justify-between p-4">
        <div class="w-full lg:w-auto lg:mr-6 mb-4 lg:mb-0 text-center">© 2020 miriamdolcets</div>
        <div class="flex flex-col lg:flex-row items-center w-full lg:w-auto">
            <div class="mx-auto lg:mx-0 lg:ml-auto"><a class="inline-block mt-0 text-blue-900 hover:text-blue-700"
                    href="/xarxes">Xarxes</a>
                    <!--<a class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700"
                    href="#">Preguntes</a>
                    <a class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700"
                    href="#">Zona privada</a></div>-->
        </div>
    </footer>
    </div>
</body>
</html>